[submodule "emacs/sources/grizzl"]
	path = emacs/sources/grizzl
	url = git@github.com:d11wtq/grizzl
[submodule "emacs/sources/unimacs"]
	path = emacs/sources/unimacs
	url = git@github.com:TheBB/unimacs
[submodule "emacs/sources/evil-indent-textobject"]
	path = emacs/sources/evil-indent-textobject
	url = git@github.com:TheBB/evil-indent-textobject
